@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  /* background: #130815; */
  /* background: #1a1a1a; */
  /* background: #1d2a44; */
  background: #2f3b52;

  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: #f9f4ef;
  border-radius: 2rem;
  padding: 3rem;
  width: 50%;
  max-width: 90%;
  min-height: 50vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* flex-grow: 1; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease-in-out;
  gap: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.number {
  margin: 1rem auto;
  background: #e0e0e0;
  color: #333;
  font-size: 4rem;
  font-weight: 600;
  max-width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #aaa;
  animation: pulse 1.5s infinite ease-in-out;
}

.message {
  font-size: 1.8rem;
  font-weight: 600;
  color: #5f5e5e;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.nrInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.guess {
  width: 50%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #ccc;
  background: #f9f9f9;
  color: #333;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s;
}

.guess:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 8px rgba(136, 136, 136, 0.5);
}

.btn {
  width: 50%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: #888;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #555;
  transform: translateY(-3px);
  box-shadow: 0 12px 20px rgba(85, 85, 85, 0.3);
}

.labelScores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.label-score,
.label-highscore {
  font-size: 1.8rem;
  color: #5f5e5e;
}

.label-score span,
.label-highscore span {
  color: #5f5e5e;
}

footer {
  margin-top: 2rem;
}

.again {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: #e57373;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.again:hover {
  background: #d32f2f;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(211, 47, 47, 0.6);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
