@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #162033;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.card {
  /* background: #162033; */
  /* background: #241633; */
  background: #4b1248;
  color: #f4f4f4;
  border-radius: 1rem;
  padding: clamp(1rem, 1vw, 3rem);
  margin: 2rem 0 2rem 0;
  width: 40%;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: clamp(0.5rem, 0.5vw, 1rem);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(0.5rem, 1vw, 3rem);
  gap: clamp(0.5rem, 0.5vw, 1rem);
}

.number {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: 600;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1.5s infinite ease-in-out;
}

.title {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  font-weight: 600;
}

.message {
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  font-weight: 600;
  margin-bottom: clamp(0.5rem, 0.5vw, 1rem);

  color: #ff0000;
}

main {
  display: flex;
  flex-direction: column;
  padding: clamp(0.5rem, 1vw, 3rem);
  align-items: center;
  gap: clamp(2rem, 3vw, 3rem);
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.5rem, 0.5vw, 1rem);
}

.guess {
  width: clamp(12rem, 12vw, 14rem);
  padding: clamp(0.5rem, 0.5vw, 1rem);
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  font-weight: 600;
  border: none;
  background: #d4deeb;
  color: #0d1b2a;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.3s;
}

input::placeholder {
  color: #0d1b2a;
  font-style: italic;
  font-weight: bold;
}

.guess:focus {
  outline: none;
}

.btn {
  width: 8rem;
  padding: clamp(0.5rem, 0.5vw, 1rem);
  font-size: clamp(1.3rem, 1.3vw, 1.5rem);
  background: #d4deeb;
  color: #0d1b2a;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #a1b5d7;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 4px 13px #a1b5d7;
  color: #0d1b2a;
}

.labelScores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: clamp(0.5rem, 0.5vw, 1rem);
}

.label-score,
.label-highscore {
  font-size: clamp(1.2rem, 1.2vw, 1.4rem);
}

.label-score span,
.label-highscore span {
  color: #ff0000;
}

footer {
  padding: clamp(0.5rem, 1vw, 3rem);
}

.again {
  width: 100%;
  font-size: clamp(1.2rem, 1.2vw, 1.4rem);
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  background: #ff7043;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.again:hover {
  transform: translateY(-3px);
  background: #e64a19;
  box-shadow: 0 8px 20px rgba(211, 47, 47, 0.6);
  color: white;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: o.8;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  animation: fadeInScale 1s ease-out;
}

@keyframes flashRed {
  0% {
    background-color: #162033;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #162033;
  }
}

.card.lost {
  animation: flashRed 1s ease-in-out, fadeOut 1s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80%;
    height: 80vh;
    margin: 2rem 0 5rem 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .card {
    width: 70%;
    height: 80vh;
  }
}

@media screen and (min-width: 1500px) {
  .card {
    width: 30%;
    height: 80vh;
  }
}
